<po-toolbar p-title="Sample WebSocket"></po-toolbar>
<po-page-default p-title="Processamento">
  <div class="po-row">
    <form [formGroup]="searchForm" (ngSubmit)="changeMessage()">
      <div ><input type="text" placeholder="remetente" name="remetente" autocomplete="off" 
        formControlName="id"/>
        <input type="text" name="mensagem" autocomplete="off" placeholder="mensagem"
          formControlName="numPlayers"/>
          <button type="submit" class="btn btn-modify" (on-click)="start()">Enviar Mensagem</button>
      </div>
    </form>
    
    <po-button p-label="Iniciar Processamento" (p-click)="start()"></po-button>
  </div>
  <div class="po-row po-mt-2">
    <po-list-view [p-items]="items">
      <ng-template p-list-view-content-template let-item>
        <div class="po-row">
          <po-info
            class="po-md-12"
            p-label="Mensagem"
            [p-value]="item"
          ></po-info>
        </div>
      </ng-template>
    </po-list-view>
  </div>
</po-page-default>
