/* You can add global styles to this file, and also import other style files */

.po-page {
    background-color: #fff;
    height: 83%;
    width: 100%;
}
.po-page-content{
    height: 90% !important;
}