
po-list-view {
    width: 100%;
}


#btn-enviar{
    display: inline-block;
  width: 100px;
  margin-left: 88%;

}
#btn-desconectar{
    display: inline-block;
  width: auto;
  margin-left: 80%;
}

po-row{
    width: 100%;
    margin-bottom: 0;

}
form{
    width: inherit;
    display: block;
    z-index: 100;

}

form input{
    height: 40px;
    align-items: center;
    margin: 5px;
    border-radius: 8px;
    padding: 8px;
}

div .box-msg{
    margin: 10px; 
    width: 98%; 
    height: 80px;
    resize: none;
    border-style: dotted 6px red;
}
 button{
    
    color: white;
    background-color: rgb(91, 6, 102);
    border-radius: 8px;
    padding: 10px;
    margin:5px;
    
}
button:hover{
    color:rgb(91, 6, 102);
    border:rgb(91, 6, 102) 2px solid;
    background-color:  white;
}